/Poupette
/dist
/dist-newstyle
/Main.hs
/Main
/puppetresources-*.tar.gz
/puppetresources_*
/Erb/Compute_stub.h
/.cabal-sandbox
/cabal.sandbox.config
TAGS
.stack-work/
result
*.el
.envrc
*.orig
hackage-doc.sh
stack.yaml
stack.yaml.lock
debian/debhelper-build-stamp
debian/language-puppet.debhelper.log
debian/language-puppet.substvars
debian/language-puppet/
