#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	rm -rf debian/language-puppet
	stack test
	stack install
	mkdir -p debian/language-puppet/usr/bin
	mkdir -p debian/language-puppet/usr/share/language-puppet
	cp -v ~/.local/bin/pdbquery debian/language-puppet/usr/bin/
	cp -v ~/.local/bin/puppetresources debian/language-puppet/usr/bin/
	cp -v ~/.local/bin/yera debian/language-puppet/usr/bin/
	cp -v ruby/hrubyerb.rb debian/language-puppet/usr/bin/
