#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	rm -rf debian/language-puppet
	stack build
	mkdir -p debian/language-puppet/usr/bin
	mkdir -p debian/language-puppet/usr/share/language-puppet
	cp -v ../.stack-work/install/x86_64-linux/lts-8.4/8.0.2/bin/pdbquery debian/language-puppet/usr/bin/
	cp -v ../.stack-work/install/x86_64-linux/lts-8.4/8.0.2/bin/puppetresources debian/language-puppet/usr/bin/
	cp -v ../.stack-work/install/x86_64-linux/lts-8.4/8.0.2/bin/yera debian/language-puppet/usr/bin/
	cp -v ruby/hrubyerb.rb debian/language-puppet/usr/bin/
